.navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #02918c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
}
.navbar .navbar-brand{
    padding-left: 85px ;
}

.navbar-brand.logo img {
    max-height: 40px;
    padding-left: 65px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px; 
}

.nav-links li:last-child {
    margin-right: 0; 
}

.nav-links a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    background-position: right bottom;
    color: white; 
}
.centered-dropdown {
    text-align: center;
}

.centered-dropdown .navbar-nav {
    display: inline-block;
    float: none;
}

.container{
    width: 100%;
} 

.nav-item{
    padding-right: 40px;
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 1;
}

.header-bg img {
    width: 100%;
    height: 700px;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(37, 37, 37, 0.881), rgba(0, 27, 26, 0.651));
}

.header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.header-content h3 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.header-content h1 {
    font-weight: 800;
    font-size: 80px;
    letter-spacing: 4px;
}
.header-content a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  
  display:inline block;

  padding-left: 40px;
  padding-right: 40px;
 
  color: #fff;
  background-color: #cfc91d;

}

.fa-regular{
    margin-right: 10px;
}

.container{
    width: 100%;
}

.about{
    width: auto ;
    height: 900px;
    text-align: center;
}

.about h1{
    padding-top: 150px ;
    font-size: 60px;
    color: #02918c;
    
}
.card{
    border-right: rgba(220, 220, 220, 0.548)  2px solid;
}

.c_itm{
    text-align: center;
    background-position: center;
    padding-top: 70px;
    padding-right: 25px;
    padding-left:  25px;
    display: inline-block;
    color: #797979;
    border-right: rgba(220, 220, 220, 0.548)  2px solid;
}

.about p{
    color: #797979;
    padding-bottom: 100px;
   
}

.cl{
    color: #02918c;
}

.c_itm:last-child{
    border: none;
}

.services{
    width: auto ;
    height: 700px;
    background-color: #f0f0e8;
}

.img-l{
float: right;
opacity: 30%;
width: 100%;
}

.card_2{
    display: inline-block;
}

.card_2 .c_itm{
    border: none;
    text-align: left;
}

.pp{
    padding-left: 30px;
}
.pp h1{
    color: #02918c;
}
.pp p{
    color: #797979;
}
i{
    padding-bottom: 40px;
}
.work{
    text-align: center;
    width: auto;
    height: 900px;
    padding-left: 90px;
    padding-right: 30px;
  
}
.work h1{ padding-top: 50px;
    font-size: 60px;
    color: #02918c;
}
.work .hd_c p{
    color: #797979;
    padding-bottom: 40px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-card {
    position: relative;
    width: 350px; 
    height: 350px; 
    margin: -1px; 
    overflow: hidden;
  }
  
  .image-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
  }
  
  

footer {
    text-align: center;
    width: auto;
    height: 900px;
}

footer h1 {
    padding-top: 150px;
    font-size: 60px;
    color: #02918c;
}

footer p{
    color: #797979;
}

.input-container {
    background-color:#0b0b0b;
}

.input-container input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #0b0b0b;
    width: 50%;
    height: 100px;
    text-align: center;
    font-size: 30px;
}
@media (max-width: 1176px) {
 
    .work{
        visibility: hidden;
        height: 20px;
    }
}
@media (max-width: 1380px) {
    .work{
        height: 1300px;
    }
}

@media (max-width: 1180px) {

    .work{
        visibility: hidden;
    }
    .services{
        height: 1350px;
        width: 100% ;
        background-color: #f0f0e8;
        margin: auto;
        padding: 10px;
    }
    .img-l{
        visibility: hidden;
    }

   .about{
    height: 900px;
   }
  }
  @media (max-width: 844px){
    .services{
        height: 1350px;
    }
    .about{
        height: 1850px;
    }
    .img-l{
        visibility: hidden;
    }
    .work{
        height: 20px;
    }
  }
  @media (max-width: 390px) {

  
   .services{
    padding-top: 70px;
    padding-right: 25px;
    padding-left:  25px;
    text-align: center;
   }
  }
  @media(max-width:820px){
    .about{
        height: 900px
    }
}  

@media(max-width:778px){
    .about{
        height: 1000px;
    }
}
@media(max-width:540px){
    .about{
        height: 2000px;
    }
    .card{
        border:none;
    }
}
@media(max-width:577px){
    .card {
        border: none;
    }
    .about{
        height: 2000px;
    }
}
@media(max-width:1024px){
    .work{
        height: 20px;
    }
}
@media(max-width:280px){
    .about{
        height: 2150px;
    }
    .card{
        border:none;
    }

}
@media(max-width:360px){
  .services{
    height: 1410px;
  }
  .card{
    border:none;
}

}
.input-container input:nth-of-type(3),
.input-container input:nth-of-type(4) {
    width: 70%; }

    input, select, textarea{
        color: white;}
.btna {
font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
            
display:inline block;
          
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
color: #fff;
border: #cfc91d 1px solid;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, #02918cac 50%, #cfc91d00 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
    opacity: 1;
    transition: all 0.5s ease-out;
    padding: 20px;
    box-sizing: border-box; 
    transform: translatex(-100%); 
  }
  
  .image-card:hover .overlay {
    background-position: left bottom;
    transform: translatex(0);}

    .td{
        background-color: black;
        color: #fff;
        height: 50px;
    }.td p{
        padding-top: 10px;
    }